.quiz-details-container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.quiz-details-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.quiz-details-table {
  width: 100%;
  border-collapse: collapse;
}

.quiz-details-table th,
.quiz-details-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
}

.quiz-details-table th {
  background-color: #4a90e2;
  color: #fff;
}

.quiz-details-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.quiz-details-table tr:hover {
  background-color: #f1f1f1;
}

.quiz-details-header {
  position: relative;
  margin-bottom: 20px;
}

.quiz-details-header h2 {
  margin: 0;
  font-size: 20px;
  text-align: center;
}

.back-btn {
  padding: 6px 12px; /* prirodna veličina */
  font-size: 14px; /* prirodna veličina teksta */
  background-color: #4a90e2;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  display: flex;
  align-items: center; /* centriranje teksta po vertikali */
  justify-content: center; /* centriranje teksta po horizontali */
}

.back-btn:hover {
  background-color: #357abd;
}
